a.out*
*.json
minishell
main*
.DS_Store
*.o
objects
*.swp
tags
*.ini
checker
.vscode
*.a
terminal_exemple.c
.vscode/settings.json
.ms_history
/minishell_tester-main/*
minishell_tester
norights
tut
out